* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

/* Backgrounds */
:root {
  --primary-orange: #f96d5c;
  --secondary-blue: #5b82f7;
  --light-grey: #fafafa;
}

/* Overide some of bootstrap styles */

.btn {
  border: none;
}

.btn-rounded {
  border-radius: 50px;
  padding: 0.5rem 1rem;
}

.btn-primary {
  background-image: linear-gradient(to right, #f96d5c 0%, #f7bb97 100%);
  border: none;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-size: 200% auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-secondary {
  background-image: linear-gradient(to right, #5b82f7 0%, #8ca1e2 100%);
  border: none;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-size: 200% auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-primary:hover,
.btn-secondary:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.btn-link {
  color: #333;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  margin: 0 1rem;
}

.btn-link:hover {
  color: #f96d5c;
  text-decoration: none;
}

.btn-link:focus {
  text-decoration: none;
  color: #f96d5c;
  border-bottom: 2px solid #f96d5c;
}

.jumbotron {
  background: #fafafa;
}

/* Backgrounds */
.bg-light-grey {
  background-color: var(--light-grey);
}

/* Colors */
.text-primary-orange {
  color: var(--primary-orange);
}

/* Text */
h1 {
  font-size: 3rem;
}

.lead {
  font-size: 1.125rem;
}

p {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .jumbotron-heading {
    font-size: 2rem;
  }
}

/* Custom Scrollbar for WebKit based browsers*/
/* (Chrome, Edge, Opera, Safari, all browsers on iOS) */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #eaeaea;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#f96d5c 0%, #f7bb97 100%);
}

/* CSS for scrollbar arrow buttons found from https://stackoverflow.com/questions/47576815/how-to-add-arrows-with-webkit-scrollbar-button */
::-webkit-scrollbar-button:single-button {
  background: #eaeaea;

  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 12px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 12px;
  width: 16px;
  background-position: center 2px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
}
