* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

/* Backgrounds */
:root {
  --primary-orange: #f96d5c;
  --light-grey: #fafafa;
}

/* Overide some of reactstrap styles */

.btn-rounded {
  border-radius: 50px;
  padding: 0.5rem 1rem;
}

.badge-secondary {
  background-color: #5b82f7;
}

.btn-primary {
  background-image: linear-gradient(to right, #f96d5c 0%, #f7bb97 100%);
  border: none;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-size: 200% auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-secondary {
  background-image: linear-gradient(to right, #5b82f7 0%, #8ca1e2 100%);
  border: none;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-size: 200% auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-primary:hover,
.btn-secondary:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.btn-link {
  color: #333;
}

.btn-link:hover {
  color: #f96d5c;
  text-decoration: none;
}

/* Backgrounds */

.bg-light-grey {
  background-color: var(--light-grey);
}

/* Text */

h1 {
  font-size: 3rem;
}

.lead {
  font-size: 1.125rem;
}

p {
  font-size: 16px;
}
